/* codice colori 
color button + check #0061ff 
color background header + footer  #b4d0e7 
color font month #99a4ad
color link #3481ff
font color footer #61082b
background desigual 1 sx alto #a2d39b
background florisa 1 sx basso #0093ce
background asu 2 sx alto #61082b
background toopps 2 sx basso #ff1c1c
background centrale clearchannel #f5f5f5
background hearst 1 dx alto #b4d0e7
background clearchannel 1 dx basso #ffd830 + border color 3px (circa) ffeb98
background world bycicle 2 dx alto #d5001f
background lonely planet 2 dx basso #0d2481

!!!PROMEMORIA DEL PADDING!!!
top | right | bottom | left  */


/* Da mettere sempre  */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.fl {
        float: left;
}

.fr {
    float: right;
}

/* Font comune a tutti */
h1 {
    font-size: 80px;
    font-weight: 700;
}

h2, .h2 {
    font-size: 40px;
    font-weight: 700;
}

.h2 {
    color:#61082b;
}

h4, .h4 {
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 10px;
}

h6, .h6 {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 10px;
}

a {
    color: #3481ff;
}


/* Comune a tutti */

[class^="container-body-"] {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 30px;
    padding-bottom: 50px;
}

.container-body-1 {
    margin-top: 150px;
}

[class^="container-footer-"] {
    max-width: 100%;
    margin: 0 auto;
}


/* inizia codice css per header */

header {
    background-color: #b4d0e7;
    height: 840px; /* da sistemare perchè non mi sembra corretta come soluzione */
    font-size: 20px;
    font-weight: 500;
}

.header {
    padding: 50px 100px 0 100px; 
}

/* codice per la nav */

.topbar {
    width: 100%;
    background-color: white;
    height: 100px; 
    line-height: 100px;

}

nav.topbar .logo {
    padding-top: 5px;
    padding-left: 30px;
}

nav.topbar .menu {
    padding-left: 50px;
}

nav.topbar .menu li {
    display: inline-block;
    padding-right: 30px;
}

nav.topbar .login {
    padding-right: 10px;
    text-align: left;
}

nav.topbar .login li {
    display: inline-block;
    padding-right: 30px;
}

.start-blue, .start-blue-header {
    display: inline;
    background-color: #0061ff;
    color: white;
}

.start-blue {
    display: inline;
    padding: 3px 15px 3px 15px;
}

.start-blue-header {
    display: inline;
    padding: 10px 20px 10px 20px;
}

.start-blue-column, .start-blue-column-1 {
    padding: 10px 15px 10px 15px;
    background-color: #0061ff;
    text-align: center;
    color: white;
}

.start-blue-column {
    margin-top: 30px;
}

div.arrow:after {
    content: '\2193';
    font-size: 60px;
    margin-top: 50px;
}

li {
    list-style: none;
}

/* inizio parte scritta più immagine di header */

[class^="text-header-"] {
    width: 40%;
}

.text-header {
    width: 70%;
    margin-bottom: 30px;
}

.text-header-1 {
    margin-top: 20px;
    margin-bottom: 40px;
}

div.start-blue {
    border-top: 30px;
}

[class^="image-"] {
    width: 60%;
}

img {
    width: 100%;
}

/* inizio sezione 1 */

.title {
    text-align: left;
    padding-bottom: 50px;
}

.select {
    margin-left: 20px;
    margin-bottom: 50px;
}

input .select-1 {
    display: inline-block;
}

[class^="columns-"] {
    width: calc(100% / 3);
    padding: 30px;
}

.table, .table-1 {
border: 1px solid rgba(0, 0, 0, .5);    
}

.table {
    height: 950px;
}

.th {
    padding: 15px;
    text-align: center;
    font-weight: 700;
    border-bottom: 1px solid rgba(0, 0, 0, .5);  
}

[class^="td-"], .td {
    padding: 10px;
    margin: 15px;
    height: 150px;
}

p {
    padding-top: 15px;
}

hr {
    width: 20%;
    margin-top: 30px;
}

.month {
    font-size: 14px;
    color: #99a4ad;
}

.icon-single, .icon-folder, .icon-pencil, .icon-team {
    margin-right: 5px;
    width: 15px;
    height: 15px;
    line-height: 15px;
}

.check-v {
    color: #0061ff;
    padding-right: 10px;
    font-weight: 700;
}

/* inizio sezione 2 */

.table-1 {
    height: 250px;
}

/* inizio sezione 3 */

.text-content-3 {
    padding: 50px 0 0 50px;
}

.start-white-column {
    padding: 10px;
    text-align: center;
    margin-top: 30px;
    border: 1px solid black;
    width: 200px;
}

/* inizio sezione 4 */

.article {
    width:  calc((100% / 3) - 0.1px);
    padding: 0 20px 0 20px;
    margin: 50px 0 100px 0;
    height: 400px;
}

.image4 {
    width: 100%;
    text-align: center;
}

.underline {
    text-decoration: underline ;
}

.bold {
 text-weigh: 700;
}

/* inizio sezione 5 */
.title-1 {
    text-align: left;
}

.content-5 {
    width: 50%;
}


/* inizio footer sezione 1 */


[class^="item-row-"] {
    width:  calc((100% / 2) - 0.1px);
    display: block;
    text-align: center;
    height: 300px;
    line-height: 300px;
}

[class^="item-row-"] img {
    width: 50%;
    filter: invert(1);
    vertical-align: middle;
}

.logo-adv img{
    width: 20%;
}

[class^="content-footer-row-"] {
    width:  calc((100% / 3) - 0.1px);
}

.content-footer-row-2 {
    height: 600px;
}

[class^="item-row-"]:hover {
    box-shadow: inset 20em 1em rgba(255, 255, 255, .5);
}

.item-row-1 {
    background-color: #a2d39b;
}

.item-row-2 {
    background-color: #61082b;
}

.item-3 {
    background-color: #f5f5f5;
    width:  100%;
    padding: 100px;
    margin: 0 auto;
    height: 600px;
}

.text-adv {
    padding: 100px 0 0 0;
    margin: 0 auto;
}

.item-row-4 {
    background-color: #d5001f;
}
.item-row-5 {
    background-color: #b4d0e7;
}
.item-row-6 {
    background-color: #0093ce;
}
.item-row-7 {
    background-color: #ff1c1c;
}
.item-row-8 {
    background-color: #0d2481;
}
.item-row-9 {
    background-color: #ffd830;
}

/* inzio sezione footer 2 */

.content-footer-2 {
    background-color: #b4d0e7;
    height: 300px;
}

.start-gray-footer{
    padding: 25px 0  0 250px;
}

.start-gray-footer-1{
    display: inline;
    background-color: #f5f5f5;
    display: inline;
    padding: 10px 20px 10px 20px;
}

.content-footer {
    width: 1200px;
    margin: 0 auto;
    padding: 75px 0 75px 0;
}

.h2, .start-gray-footer {
    width: 50%;
}

/* inizio sezione footer 3 */

.question {
    padding: 25px 0 25px 0;
    border-bottom: 1px solid rgba(0, 0, 0, .5);    
}

.question-1 {
    width: 50%;
}

.arrow-down {
    width: 50%;
    text-align: right;
}

.arrow-down img {
    width: 15px;
}

/* inizio sezione footer 4 */

.content-footer-4 {
    background-color: black;
    color: white;
    height: 600px;
    line-height: 28px;
}


[class^="art-footer-"] {
    width: calc(100% / 5);
    height: 250px;
    
}

.content-footer a {
    color: white;
    text-decoration: none;
}

.content-footer a:hover {
    text-decoration: underline;
}

.world {
    padding: 50px 0 0 0;
    color: gray;
    font-weight: 700;
}
.world img {
    width: 40px;
    vertical-align: middle;
    display: inline-block;
    padding-right: 10px ;
}
