/* codice colori 
color button + check #0061ff 
color background header + footer  #b4d0e7 
color font month #99a4ad
color link #3481ff
font color footer #61082b
background desigual 1 sx alto #a2d39b
background florisa 1 sx basso #0093ce
background asu 2 sx alto #61082b
background toopps 2 sx basso #ff1c1c
background centrale clearchannel #f5f5f5
background hearst 1 dx alto #b4d0e7
background clearchannel 1 dx basso #ffd830 + border color 3px (circa) ffeb98
background world bycicle 2 dx alto #d5001f
background lonely planet 2 dx basso #0d2481

!!!PROMEMORIA DEL PADDING!!!
/* top | right | bottom | left */


*/

/* Da mettere sempre  */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.fl {
        float: left;
}

.fr {
    float: right;
}

/* Font comune a tutti */
h1 {
    font-size: 100px;
    font-weight: 700;
}




/* Comune a tutti */

[class^="container-"] {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 50px;
    height: 100%;
    padding-bottom: 50px;
}


/* inizia codice css per header */

header {
    background-color: #b4d0e7;
    height: 70%;
    font-size: 20px;
}

.header {
    padding: 100px 0 0 100px; 
}

/* codice per la nav */

.topbar {
    width: 100%;
    background-color: white;
    height: 100px; 
    line-height: 100px;

}

nav.topbar .logo {
    width: 10%;
    height: 100%;
    padding-left: 20px;
}

nav.topbar .menu {
    /* width: 40%;
    height: 100%; */
    padding-left: 50px;
}

nav.topbar .menu li {
    display: inline-block;
    padding-right: 30px;
}

nav.topbar .login {
    padding-right: 10px;
    text-align: left;
}

nav.topbar .login li {
    display: inline-block;
    padding-right: 30px;
}

.start-blue {
    padding: 3px 15px 3px 15px;
    background-color: #0061ff;
    color: white;
}

li {
    list-style: none;
}

.image-1 {
    width: 60%;
}

.text-1 {
    width: 40%;
}

img {
    width: 100%;
}


.menu .login {
    text-align: left;
    font-weight: 700;
}
/* da cancellare appena finito completa sezione */
.content-1, .content-footer-1 {
    background-color: green;
    height: 700px;
}

[class^="columns-"] {
    background-color: tomato;
    width: 30%;
    margin: 20px;
    padding: 10px;
}

table, tr, td {
    border: 3px solid black;
}

.content-2, .content-footer-2 {
    background-color: red;
    height: 300px;
}

.content-3, .content-footer-3 {
    background-color: pink;
    height: 500px;
}

.content-4, .content-footer-4 {
    background-color: blue;
    height: 1400px;
}

.content-5, {
    background-color: teal;
    height: 200px;
}

footer {
    background-color: yellow;
    height: 700px;
}